/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: "Whitney",sans-serif;
}

/* Layout generic classes */

.col{
    float: left;
}

.crearfix::after{
    content: "";
    display: table;
    clear: both;

}

/* container */

.container{
    width: 70%;
    margin: auto;
}

img{
    width: 100%;
}

/* Buttons */

.btn-small{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    background-color: white;
    border-radius: 35px;
    display: inline-block;
    line-height: normal;
}
.btn-white{
    color: black;
    background-color: white;
}
/* HEADER */

header{
    color: white;
    height: 80px;
}
nav{
    line-height: 80px;
}
.logo, 
.login{
    width: 10%;
    text-align: right;
}
.logo img{
    vertical-align: middle;
}
.central-menu{
    width: 80%;
    text-align: center;
}
.top-menu{
    list-style-type: none;
}
.top-menu li{
    display: inline-block;
    margin: 0 15px;
}
.top-menu a{
    text-decoration: none;
    color: white;
}
.jumbotron{
    height: 620px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}